.register-password-input {
  position: relative;
}

.register-password-input-icon {
  position: absolute;
  right: 5px;
  top: 20px;
  color: gray;
}

.register-password-input-error {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 2px;
  color: #b22365;
  font-size: 13px;
  font-weight: 300;
}

.register-password-input-text {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 300;
  color: #aac8c2;
}

.register-password-input-error > svg {
  width: 13px;
  margin-right: 5px;
}
