.feed-side-bar-fixed {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.feed-side-bar-container {
  width: 330px;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(15, 15, 15);
}

.feed-side-bar {
  width: 100%;
}

.feed-side-bar-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  padding-left: 60px;
  padding-right: 48px;
}

.feed-side-bar-column-header {
}

.feed-side-bar-column-header-row {
  margin: 22px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feed-side-bar-column-header-row-button {
  padding: 6px 6px 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.feed-side-bar-column-list {
  margin-bottom: 16px;
}

.feed-side-bar-column-list-button {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 6px 6px 6px 2px;
  margin-bottom: 13px;
  cursor: pointer;
}

.feed-side-bar-column-list-button:hover {
  color: white;
  font-weight: 600;
}
.feed-side-bar-column-genres-display {
  border-top: 1px solid rgb(89, 89, 89);
  border-bottom: 1px solid rgb(89, 89, 89);
}

.feed-side-bar-column-genres-display-button {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.feed-side-bar-column-genres-display-button-text {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 30px;
}

.feed-side-bar-column-genres-display-button:hover > h4 {
  color: white;
}

.feed-side-bar-column-genres-display-button:hover > svg {
  color: white;
}

.feed-side-bar-column-brands {
  margin-top: 32px;
}

.feed-side-bar-column-brands-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  margin-bottom: 32px;
}

.feed-side-bar-column-brands-row-brand > img {
  width: 70px;
  cursor: pointer;
}

.feed-side-bar-column-brands-row-brand > img:hover {
  transform: scale(1.2);
}

.feed-side-bar-genres {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
  background-color: rgb(25, 25, 25);
  height: 100%;
  top: 0;
  position: absolute;
  left: 330px;
  width: 330px;
}

.feed-side-bar-genres-column {
  padding-left: 48px;
  padding-right: 60px;
  padding-top: 80px;
}

.feed-side-bar-genres-column-button {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 6px 6px 6px 2px;
  margin-bottom: 12px;
  cursor: pointer;
}

.feed-side-bar-genres-column-button:hover {
  font-weight: 600;
  color: white;
}
