.landing-features-container {
}

.landing-features-header {
  margin: 24px 0;
  padding: 24px 0;
}

.landing-features-header-title {
  font-size: 32px;
  line-height: 38px;
  margin-top: 8px;
  margin-bottom: 4px;
  text-align: center;
}

.landing-features-header-text {
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 4px;
  text-align: center;
}

.landing-features-banner {
  padding: 0 15px;
  margin: 48px 0;
}
.landing-features-banner > img {
  width: 100%;
  height: auto;
}

.landing-features-band {
  margin: 24px 0;
  padding: 24px 0;
}

.landing-features-band-flex {
  padding: 0 15px;
  display: flex;
}

.landing-features-band-flex-item {
  max-width: 25%;
  padding: 0 15px;
}

.landing-features-band-flex-item-line {
  margin: 8px auto;
  width: 50px;
  background-color: #ff00e5;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.landing-features-band-flex-item-text {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
}

.landing-features-footer {
  display: flex;
  margin: 48px 0;
  padding: 0 15px;
}

.landing-features-footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33.33%;
}

.landing-features-footer-item:nth-child(2) {
  justify-content: center;
  padding: 0 8px;
}

.landing-features-footer-text {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 8px;
  margin-bottom: 4px;
  text-align: center;
}

.landing-features-footer-item > img {
  max-width: 100%;
  height: auto;
}
