.profile-header-container {
  width: 100%;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-header-logo > img {
  width: 122px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
