.feed-title-slide-content {
  width: 99%;
  opacity: 0.8;
  border: 2px solid transparent;
  display: flex;
  position: relative;
}

.feed-title-slide-content:hover {
  opacity: 1;
  border-radius: 4px;
  border-color: rgb(117, 62, 239);

  transition: all 0.3s;
}

.feed-title-slide-content > img {
  width: 100%;
  border: 2px solid transparent;
}

.feed-title-slide-content-controlls {
  position: absolute;
  bottom: 0%;
  right: 0%;
  display: none;
  padding: 14px;
  opacity: 0;
}

.feed-title-slide-content-controlls-button {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 8px;
  cursor: pointer;
}

.feed-title-slide-content:hover > div {
  display: flex;
  opacity: 1;
  transition: all 0.5s;
}

.feed-title-slide-content-controlls-button:hover {
  transform: scale(1.1);
}

.feed-title-slide-content-controlls-button > svg {
  fill: black;
}
.feed-title-slide-info {
  margin-left: 5px;
}

.feed-title-slide-info-name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  margin-top: 5px;
}
.feed-title-slide-info-rate {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.feed-title-slider:hover .show {
  display: flex;
}

@media screen and (min-width: 800px) {
  .feed-title-slide-content {
    width: 99%;
  }
}
@media screen and (min-width: 1100px) {
  .feed-title-slide-content {
    width: 97%;
  }
}
@media screen and (min-width: 1400px) {
  .feed-title-slide-content {
    width: 96%;
  }
}

@media screen and (min-width: 1800px) {
}
