.feed-header-slide-content {
  background-color: black;
}

.feed-header-slide-content-image-hide {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.feed-header-slide-content-image-hide > img {
  position: absolute;
  width: 200%;
  left: -100%;
}

.feed-header-slider-gradient-one {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.24),
    rgba(0, 0, 0, 0.24) 2.45%,
    rgba(0, 0, 0, 0.23) 4.91%,
    rgba(0, 0, 0, 0.22) 7.36%,
    rgba(0, 0, 0, 0.204) 9.81%,
    rgba(0, 0, 0, 0.184) 12.27%,
    rgba(0, 0, 0, 0.16) 14.72%,
    rgba(0, 0, 0, 0.133) 17.18%,
    rgba(0, 0, 0, 0.106) 19.63%,
    rgba(0, 0, 0, 0.08) 22.08%,
    rgba(0, 0, 0, 0.055) 24.54%,
    rgba(0, 0, 0, 0.035) 26.99%,
    rgba(0, 0, 0, 0.02) 29.44%,
    rgba(0, 0, 0, 0.008) 31.9%,
    rgba(0, 0, 0, 0.004) 34.35%,
    rgba(0, 0, 0, 0) 36.81%
  );
}

.feed-header-slider-gradient-two {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    1.5708rad,
    rgba(0, 0, 0, 0.24) 24.53%,
    rgba(0, 0, 0, 0.24) 26.03%,
    rgba(0, 0, 0, 0.23) 27.53%,
    rgba(0, 0, 0, 0.22) 29.03%,
    rgba(0, 0, 0, 0.204) 30.54%,
    rgba(0, 0, 0, 0.184) 32.04%,
    rgba(0, 0, 0, 0.16) 33.54%,
    rgba(0, 0, 0, 0.133) 35.04%,
    rgba(0, 0, 0, 0.106) 36.54%,
    rgba(0, 0, 0, 0.08) 38.05%,
    rgba(0, 0, 0, 0.055) 39.55%,
    rgba(0, 0, 0, 0.035) 41.05%,
    rgba(0, 0, 0, 0.02) 42.55%,
    rgba(0, 0, 0, 0.008) 44.05%,
    rgba(0, 0, 0, 0.004) 45.56%,
    rgba(0, 0, 0, 0) 47.06%
  );
}
.feed-header-slider-gradient-three {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0.117366rad,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.396) 3.33%,
    rgba(0, 0, 0, 0.384) 6.67%,
    rgba(0, 0, 0, 0.37) 10%,
    rgba(0, 0, 0, 0.34) 13.33%,
    rgba(0, 0, 0, 0.306) 16.67%,
    rgba(0, 0, 0, 0.267) 20%,
    rgba(0, 0, 0, 0.224) 23.33%,
    rgba(0, 0, 0, 0.176) 26.67%,
    rgba(0, 0, 0, 0.133) 30%,
    rgba(0, 0, 0, 0.094) 33.33%,
    rgba(0, 0, 0, 0.06) 36.67%,
    rgba(0, 0, 0, 0.03) 40%,
    rgba(0, 0, 0, 0.016) 43.33%,
    rgba(0, 0, 0, 0.004) 46.67%,
    rgba(0, 0, 0, 0) 50%
  );
}
.feed-header-slider-gradient-four {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0.192867rad,
    rgba(0, 0, 0, 0.6) 8.18%,
    rgba(0, 0, 0, 0.596) 11.46%,
    rgba(0, 0, 0, 0.58) 14.75%,
    rgba(0, 0, 0, 0.553) 18.03%,
    rgba(0, 0, 0, 0.51) 21.32%,
    rgba(0, 0, 0, 0.463) 24.61%,
    rgba(0, 0, 0, 0.4) 27.89%,
    rgba(0, 0, 0, 0.333) 31.18%,
    rgba(0, 0, 0, 0.267) 34.46%,
    rgba(0, 0, 0, 0.2) 37.75%,
    rgba(0, 0, 0, 0.137) 41.03%,
    rgba(0, 0, 0, 0.09) 44.32%,
    rgba(0, 0, 0, 0.05) 47.61%,
    rgba(0, 0, 0, 0.02) 50.89%,
    rgba(0, 0, 0, 0.004) 54.18%,
    rgba(0, 0, 0, 0) 57.46%
  );
}
.feed-header-slider-gradient-five {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 49.02%,
    rgba(0, 0, 0, 0.008) 52.42%,
    rgba(0, 0, 0, 0.035) 55.82%,
    rgba(0, 0, 0, 0.082) 59.22%,
    rgba(0, 0, 0, 0.15) 62.62%,
    rgba(0, 0, 0, 0.23) 66.02%,
    rgba(0, 0, 0, 0.333) 69.41%,
    rgba(0, 0, 0, 0.443) 72.81%,
    rgba(0, 0, 0, 0.557) 76.21%,
    rgba(0, 0, 0, 0.667) 79.61%,
    rgba(0, 0, 0, 0.77) 83.01%,
    rgba(0, 0, 0, 0.85) 86.41%,
    rgba(0, 0, 0, 0.918) 89.8%,
    rgba(0, 0, 0, 0.965) 93.2%,
    rgba(0, 0, 0, 0.992) 96.6%,
    rgb(0, 0, 0) 100%
  );
}

.feed-header-slider-content-card {
  position: absolute;
  z-index: 12;
  left: 0;
  width: 50%;
  bottom: 20%;
  margin-bottom: 20px;
  margin-left: 28px;
}

.feed-header-slider-content-card-info {
  margin-top: 12px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 18px;
}
.feed-header-slider-content-card-overview {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 19px;
}
.feed-header-slider-content-card-buttons {
  margin: 8px 0;
  display: flex;
  align-items: center;
}
.feed-header-slider-content-card-buttons-play {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  width: 52px;
  height: 52px;
}

.feed-header-slider-content-card-buttons-play:hover {
  border-color: rgb(117, 69, 232);
  background-color: rgba(15, 15, 15, 0.98);
}

.feed-header-slider-content-card-buttons-more {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  background-color: rgba(62, 59, 68, 0.7);
  padding: 20px 24px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 21px;
  border: 2px solid transparent;
}

.feed-header-slider-content-card-buttons-more:hover {
  border-color: rgb(117, 69, 232);
  background-color: rgba(15, 15, 15, 0.98);
}

.feed-header-slider-content-card-overview {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 19px;
}
@media screen and (min-width: 650px) {
  .feed-header-slide-content-image-hide > img {
    width: 150%;
    left: -50%;
  }
  .feed-header-slider-content-card {
    bottom: 16%;
  }
}

@media screen and (min-width: 800px) {
  .feed-header-slider-content-card {
    margin-left: 36px;
  }
  .feed-title-slider-header {
    margin: 0 36px 12px 36px;
  }
  .feed-header-slider-content-card {
    bottom: 12%;
    width: 31%;
  }

  .feed-header-slide-content-image-hide > img {
    width: 100%;
    left: 0;
  }
  .feed-header-slider-gradient-one {
    height: 52vw;
  }
  .feed-header-slider-gradient-two {
    height: 52vw;
  }
  .feed-header-slider-gradient-three {
    height: 52vw;
  }
  .feed-header-slider-gradient-four {
    height: 52vw;
  }
  .feed-header-slider-gradient-five {
    height: 52vw;
  }
}
@media screen and (min-width: 1100px) {
  .feed-header-slider-content-card {
    margin-left: 48px;
  }

  .feed-header-slider-content-card-overview {
    font-size: 18px;
    line-height: 22px;
  }
  .feed-header-slider-content-card-buttons {
    margin: 28px 0;
  }
}
@media screen and (min-width: 1400px) {
  .feed-header-slider-content-card {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1800px) {
  .feed-title-slider {
    padding-left: 60px;
  }
}
