@keyframes fadeIn {
  0% {
    opacity: 0; /* Empezar con la opacidad a 0 (invisible) */
  }
  100% {
    opacity: 1; /* Finalizar con la opacidad a 1 (totalmente visible) */
  }
}
.landing-planpicker {
  width: 100%;
  background-position: center center;
  background-image: url("/src/assets/Images/plans_background.png");
  background-size: cover;
  animation: fadeIn 0.5s linear;
}

.landing-planpicker-container {
  height: 100%;
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  color: white;
}

.landing-planpicker-title {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;

  text-align: center;
}

.landing-planpicker-details {
  margin-top: 48px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3rem;
}

.landing-planpicker-details-title {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.landing-planpicker-details-group {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  padding-left: 40px;
  margin-bottom: 16px;
}

.landing-planpicker-details-group-text {
  margin: 5px 0;
  display: flex;
  align-items: center;
  font-weight: 100;
}

.landing-planpicker-details-group-point {
  background-color: #b535f6;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 2px 8px;
}

.landing-planpicker-options {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  margin-top: 48px;
}

.landing-planpicker-option {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 25px;
  margin: 0 20px;
  border-radius: 8px;
}

.default-plan {
  position: relative;
}
.default-plan::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(0deg, #5b16bd, #b908f6);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.default-plan::before {
  display: flex;
  content: "AHORRA 3 MESES";
  position: absolute;
  width: 215px;
  height: 30px;
  top: -6%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 2px;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 50px;
  background: linear-gradient(46deg, #5b16bd, #b908f6);
}

.landing-planpicker-option-time {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 5%;
}

.landing-planpicker-option-price-container {
  padding: 15px 0;
  margin-bottom: 20px;
  height: 100%;
}
.landing-planpicker-option-price {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
.landing-planpicker-option-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  margin-top: 1rem;
}
.landing-planpicker-option-button {
  background: linear-gradient(
    345deg,
    #490cb0 0%,
    #9b34ef 33%,
    rgba(255, 255, 255, 0) 66%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 68px;
  letter-spacing: 1.4px;
  color: #ffffff;
  max-width: 337px;
  line-height: 46px;
  text-align: center;
  font-size: 15.2px;
  width: 100%;
  background-position: 99% 50%;
  background-size: 400% 400%;
  border: 2px solid transparent;
  z-index: 2;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  font-weight: 700;
}
.landing-planpicker-option-button:hover {
  background-position: 1% 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid #c600ff;
  color: #fff;
}

@media (max-width: 991px) {
  .landing-planpicker {
    background-position: right;
    background-repeat: no-repeat;
  }
}
