.feed-collection-title-slider-container {
  padding: 30px 0;
  position: relative;
}
.feed-title-slider {
  padding-left: 28px;
}

.swiper-slide {
  height: auto;
}
.feed-title-slider-header {
  display: flex;
  flex-direction: column;
  margin: 0 28px 12px 28px;
}

.feed-title-slider-gradient {
  height: 400px;
  width: 100%;
  position: absolute;

  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.992) 6.67%,
    rgba(0, 0, 0, 0.965) 13.33%,
    rgba(0, 0, 0, 0.918) 20%,
    rgba(0, 0, 0, 0.85) 26.67%,
    rgba(0, 0, 0, 0.77) 33.33%,
    rgba(0, 0, 0, 0.667) 40%,
    rgba(0, 0, 0, 0.557) 46.67%,
    rgba(0, 0, 0, 0.443) 53.33%,
    rgba(0, 0, 0, 0.333) 60%,
    rgba(0, 0, 0, 0.23) 66.67%,
    rgba(0, 0, 0, 0.15) 73.33%,
    rgba(0, 0, 0, 0.082) 80%,
    rgba(0, 0, 0, 0.035) 86.67%,
    rgba(0, 0, 0, 0.008) 93.33%,
    rgba(0, 0, 0, 0) 100%
  );
}

.feed-title-slider-image {
  position: absolute;
  top: -20%;
  height: 140%;
  overflow: hidden;
}

.feed-title-slider-image > img {
  height: 100%;
}

.feed-title-slide-content-side {
  width: 196%;
  opacity: 0.8;
  border: 2px solid transparent;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  height: 100%;
}

.feed-collection-title-slide-content-side-title {
  display: flex;
  justify-content: center;
}
.feed-collection-title-slide-content-side-title > img {
  width: 180%;
  margin-left: 30%;
  margin-top: 20%;
}

.feed-collection-title-slide-content-side-subTitle {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 300px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 21px;
}

.feed-collection-title-slide-content-side-button {
  margin-top: 8px;
  height: 44px;
  background-color: rgba(62, 59, 68, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.feed-collection-title-slide-content-side-button:hover {
  border-color: rgb(117, 62, 239);
  transition: all 0.3s;
  background-color: rgba(15, 15, 15, 0.98);
}

.feed-title-slide-content {
  width: 96%;
  opacity: 0.8;
  border: 2px solid transparent;
  display: flex;
  position: relative;
}

.feed-title-slide-content:hover {
  opacity: 1;
  border-radius: 4px;
  transition: all 0.3s;
  border-color: rgb(117, 62, 239);
}

.feed-title-slide-content > img {
  width: 100%;
  border: 2px solid transparent;
}

.feed-title-slide-content-controlls {
  position: absolute;
  bottom: 0%;
  right: 0%;
  display: none;
  padding: 14px;
  opacity: 0;
}

.feed-title-slide-content-controlls-button {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 8px;
  cursor: pointer;
}

.feed-title-slide-content:hover > div {
  display: flex;
  opacity: 1;
  transition: all 0.5s;
}

.feed-title-slide-content-controlls-button:hover {
  transform: scale(1.1);
}

.feed-title-slide-content-controlls-button > svg {
  fill: black;
}

.feed-title-slide-next {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 90px;
  background-image: linear-gradient(
    1.5708rad,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7) 100%
  );
}

.feed-title-slide-next:hover > svg {
  transform: scale(1.2);
  transition: 0.3s;
}

.feed-title-slide-prev:hover > svg {
  transform: scale(1.2);
  transition: 0.3s;
}

.feed-title-slide-nav-prev {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 4px solid transparent;
  border-left: none;
  z-index: 10;
}

.feed-title-slide-nav-next {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 4px solid transparent;
  border-right: none;
  z-index: 10;
}

.feed-title-slide-prev {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 90px;
  background-image: linear-gradient(
    1.5708rad,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
  );
}

.feed-title-slider:hover .show {
  display: flex;
}

.hide {
  display: none;
}

@media screen and (min-width: 800px) {
  .feed-title-slider {
    padding-left: 36px;
  }
  .feed-title-slider-header {
    margin: 0 36px 12px 36px;
  }
}
@media screen and (min-width: 1100px) {
  .feed-title-slider {
    padding-left: 48px;
  }
  .feed-title-slider-header {
    margin: 0 48px 12px 48px;
  }
}
@media screen and (min-width: 1400px) {
  .feed-title-slider {
    padding-left: 60px;
  }
  .feed-title-slider-header {
    margin: 0 60px 12px 60px;
  }
}

@media screen and (min-width: 1800px) {
  .feed-title-slider {
    padding-left: 60px;
  }
}
